@charset "utf-8";
/* CSS Document */
html {
    height: 100%;
	font-family: Segoe UI;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
}

body {
	width: 100vw;
	min-height: 100vh;
	overflow: hidden;
	overflow-y: auto;
	position: relative;
	z-index: 0;
	display: block;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background: #E0E6EF; /* Для старых браузров */
    background: linear-gradient(to top, #E0E6EF, #FFF);
	-webkit-gradient(linear, left top, left bottom, from(#E0E6EF), to(#FFF)) fixed;
}


.blocks {
	display: block;
	width: 500px;
	height: 200px;
    min-width: 100%; 
    min-height: 100%; 
   -webkit-box-shadow: 1px 1px 10px 2px rgba(158,158,158,0.41);
   -moz-box-shadow: 1px 1px 10px 2px rgba(158,158,158,0.41);
   box-shadow: 1px 1px 10px 2px rgba(158,158,158,0.41);
}

.main {
	display: block;
	text-align: center;
	vertical-align: middle;
	top: 50%;
}

.maintext {
	vertical-align: middle;
	padding: 10px;
	color: #000;
	font-size: 30px;
	font-style: bold;
	text-align: center;
}

.maintext10 {
	vertical-align: middle;
	padding: 10px;
	color: #c55a11;
	font-size: 30px;
	font-style: bold;
	text-align: center;
}

#div-test {
	display:none;
	background: #FFF;
	width: 200px;
	height: 200px;
	padding: 10px;
	margin-top: 26px;
	-webkit-box-shadow: 1px 1px 10px 2px rgba(158,158,158,0.41);
    -moz-box-shadow: 1px 1px 10px 2px rgba(158,158,158,0.41);
    box-shadow: 1px 1px 10px 2px rgba(158,158,158,0.41);
}

#new-ref {
	width: 200px;
	height: 20px;
	padding: 20px;
	-webkit-box-shadow: 1px 1px 10px 2px rgba(158,158,158,0.41);
    -moz-box-shadow: 1px 1px 10px 2px rgba(158,158,158,0.41);
    box-shadow: 1px 1px 10px 2px rgba(158,158,158,0.41);
}