@charset "utf-8";
/* CSS Document */
html {
    height: 100%;
	width: 100%;
	margin-right: -5%;
	font-family: Segoe UI;
	font-size: 14px;
	font-weight: 100;
	font-style: normal;
	font-variant: normal;
}

body {
	overflow: hidden;
	width: 102%;
	position: relative;
	z-index: 0;
	display: block;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background: #E0E6EF; /* Для старых браузров */
    background: linear-gradient(to top, #E0E6EF, #FFF);
	-webkit-gradient(linear, left top, left bottom, from(#E0E6EF), to(#FFF)) fixed;
}

nav {
	width: 102%;
	height: 50px;
	margin-top: -1%;
	margin-left: -2%;
	margin-right: -10%;
	margin-bottom: 1%;
	padding: 1%;
	-webkit-box-shadow: 1px 1px 10px 2px rgba(158,158,158,0.41);
    -moz-box-shadow: 1px 1px 10px 2px rgba(158,158,158,0.41);
    box-shadow: 1px 1px 10px 2px rgba(158,158,158,0.41);
}

nav .uks {
	position: absolute;
	max-width: 70px;
	max-height: 70px;
	min-height: 100%;
}

nav .uks img{
margin-top: -10%;
padding-left: 35%; 
width:100%;
height:100%;
}



.blocks {
	vertical-align: middle;
	overflow: hidden;
	display: block;
    width: 1000px; 
    height: 100%;
	min-width: 100%;
   -webkit-box-shadow: 1px 1px 10px 2px rgba(158,158,158,0.41);
   -moz-box-shadow: 1px 1px 10px 2px rgba(158,158,158,0.41);
   box-shadow: 1px 1px 10px 2px rgba(158,158,158,0.41);
}

.main {
	padding-top: 10%;
	display: block;
	text-align: center;
	vertical-align: middle;
}

.maintext {
	padding-top: 10px;
	color: #000;
	font-size: 54px;
	font-style: light;
	text-align: center;
}

.maintext10 {
	vertical-align: middle;
	padding-top: 10px;
	color: #c55a11;
	font-size: 54px;
	font-style: bold;
	text-align: center;
}

.rocket {
	padding-left: 15%;
	padding-bottom: 10%;
	float: left;
	height: 20%;
	width: 27%;
}

.rocket1 {
	position: absolute;
	margin-left: 500px;
	float: right;
	height: 200px;
	width: 270px;
}

.people {
	font-size: 24px;
	position: absolute;
	margin-top: 300px;
	margin-left: -320px;
	float: left;
}

.people strong {
	color: #c55a11;
}

.gasel {
	font-size: 24px;
	position: absolute;
	margin-top: 220px;
	margin-left: 150px;
	float: left;
}

.mfox {
	float: right;
	height: 25%;
	width: 25%;
	padding-bottom: 10%;
	padding-right: 15%;
}

.fs1 {
	background: #FFF;
	position: absolute;
	padding: 10px;
	padding-left: 50px;
	width: 100px;
	height: 100px;
	float: left;
}

.fs1_1 {
	display: block;
	background: #FFF;
	padding: 10px;
	padding-top: 5%;
	padding-left: 17%;
	width: 30%;
	height: 20%;
	float: left;
	text-align: center;
}

.fs1_1 span {
	display: inline-block;
	position: absolute;
	bottom: 55%;
	left: 25%;
	font-size: 18px;
	font-weight: normal;
}

.fs2 {
	position: absolute;
	background: #FFF;
	padding: 10px;
	right: 5%;
	top: 60%;
	width: 100px;
	height: 100px;
	float: right;
}

.fs2_2 {
	display: block;
	background: #FFF;
	padding: 10px;
	padding-top: 25%;
	padding-right: 20%;
	width: 30%;
	height: 50%;
	float: right;
	text-align: center;
}

.fs2_2 span {
	display: inline-block;
	position: absolute;
	top: 75%;
	right: 29%;
	font-size: 18px;
	font-weight: normal;
}

.real-hint {
	  display: none;
	  position: absolute;
	  padding: 5px 10px;
	  padding-left: 150px;
	  margin-top: -100px;
	  width: 400px;
	  z-index: 99;
	}

	.real-hint .hint-caption {
		font-size: 24px;
		position: absolute;
		top: 70px;
		left: 250px;
		font-weight: normal;
	}

	.real-hint .prm-cross {
		background: url("/img/cross.jpg") no-repeat scroll right top rgba(0, 0, 0, 0);
		cursor: pointer;
		float: right;
		height: 16px;
		margin-top: 3px;
		padding-left: 15px;
		right: 10px;
		width: 16px;
	}

	.real-show-hint {
		cursor: pointer;
	}
	
	.hint-content {
		display: inline-block;
	position: absolute;
	bottom: 70px;
	left: 220px;
	font-size: 18px;
	}
	
.real-hint1 {
	  border-radius: 10px;
	  display: none;
	  padding: 5px 10px;
	  position: absolute;
	  margin-left: -200px;
	  padding-top: 70px;
	  width: 400px;
	  z-index: 99;
	}

	.real-hint1 .hint1-caption {
		font-size: 24px;
		text-transform: uppercase;
		position: absolute;
		top: 50%;
		right: 55%;
		font-weight: normal;
	}

	.real-hint1 .prm-cross1 {
		background: url("/img/cross.jpg") no-repeat scroll right top rgba(0, 0, 0, 0);
		cursor: pointer;
		float: right;
		height: 16px;
		margin-top: 3px;
		padding-right: 13px;
		right: 10px;
		width: 16px;
	}

	.real-show-hint1 {
		cursor: pointer;
	}
	
	.hint1-content {
		display: inline-block;
	position: absolute;
	bottom: 20%;
	right: 53%;
	font-size: 18px;
	}	
	